/**
 * File: styles.css
 * Author: cookiesui
 * Date: 03 September 2015
 * Description: Style rules for index.html
 */

body
{
	background-color: #E8E1F2;

	font-size: 16px;
}

.btn-record
{
	background-color: #6F5499;
	border-color: #E8E1F2;

	color: #E3DDED;
}

.header
{
	background-color: #6F5499;
	padding: 40px 0;
	margin-top: 50px;
	margin-bottom: 25px;

	font-size: 24px;
	color: #E3DDED;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .32);
}

.title
{
	font-size: 50px;
	color: #FFF;
}

#main
{
	visibility: hidden;
}

#start-instructions
{
	display: block;
}

#stop-instructions
{
	display: none;
}